body
{ background-color: khaki;}

html{border-style: double;
    border-color: black;}
    html {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 25px;
        margin-left: 25px;
      }
      html {
        padding-top: 25px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
      }
html{text-align: center;  }
.ajnc{
  text-align: center;
  font-family: fantasy;
  font-size: 92px;
    color: peru;
}
table{
    background-color: palegoldenrod;
    text-decoration-color: peru;
    
text-align: center;
padding-left: 3px ;
padding-top:3px ;
padding-right:3px ;
padding-bottom:3px ;
width: 100%;
border-color: black;
}
img {
  border-radius: 8px;
}
.drugi{
  text-decoration-color: peru;
  text-align: left;
  font-family: fantasy;
  font-size: 35px;
  text-decoration-line: underline;
  text-decoration-style: double;
}
.lajk{
  color: rgb(199, 104, 8);
  text-align: center; 
  text-decoration-line: underline;
  text-decoration-style: wavy;
}



li {
        color: lightslategrey;
      font-size: large;}
 
          .riki{ text-align: left;
            color: chocolate;
          font-size: medium;
        }
            .kiki{ text-align: left;
              color:black;
            font-size: large;
          }
          th {
            font-size: large;
            background-color:palegoldenrod;
            color: rgb(83, 83, 42);
          }
          tr{
            background-color:peru;
            color: black;
            
          }

          
          .topnav {
            background-color:palegoldenrod;
            overflow: hidden;
        }
        
        /* Style the links inside the navigation bar */
        .topnav a {
          float: left;
          color: black;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }
        
        /* Change the color of links on hover */
        .topnav a:hover {
          background-color:peru;
          color: black;
        }
        
        /* Add a color to the active/current link */
        .topnav a.active {
          background-color: black;
          color: white;
        }
        
        /* Right-aligned section inside the top navigation */
        .topnav-right {
          float: right;
        }

    

      div.gallery {
        margin: 5px;
        border: 1px solid peru;
        float: left;
        width: 120px;
      }
      
      div.gallery:hover {
        border: 1px solid orange;
      }
      
      div.gallery img {
        width: 100%;
        height: 100%;
      }
      
      div.desc {
        padding: 5px;
        text-align: center;
      }
.ajme{ text-align: left;}
.column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 8px;
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.container {
  padding: 0 16px;
}


.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: peru;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color:white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.button:hover {
  background-color:peru;
}
h4{
  color: peru;
}
form{
  text-align: left;

}
.klasa{
  text-align: left;
  color: peru;
}

a.vrh
{
    color:white;
    background-color:black;
    padding: 12px 15px;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right:0;
    text-align: center;
  }
